.div{
    background-color: rgb(60, 82, 82);
    height: 500px;
    width: 70%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    color: aliceblue;
    font-weight: bolder;
}
input{
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.copy{
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: aquamarine;
}
